.ant-layout {
  height: 100%;
  .ant-layout-header {
    padding: 0;
    .ant-menu.ant-menu-horizontal {
      background: var(--background-color-dark-1);
      li {
        user-select: none;
      }
    }
  }
}
