.blur--image__warpper {
  .globe {
    width: 100% !important;
    max-height: 400px !important;
    filter: blur(9px) !important;
  }
  .centered-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
